.cart-container {
    position: absolute;
    width: 350px;
    top: 90px;
    right: 0;
    z-index: 5;
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);

    h1 {
        margin-bottom: 30px;
        color: gray;
        font-weight: 400;
        font-size: 24px;
    }

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }

        .details {
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            p {
                font-size: 18px;
                font-weight: 500;
            }

            .price {
                color: #333;
            }
        }

        .delete {
            margin-left: auto;
            color: red;
            font-size: 30px;
            cursor: pointer;
        }
    }

    .total {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 20px;
    }

    button {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: pointer;
        border: none;
        background-color: black;
        color: white;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .reset {
        color: red;
        font-size: 12px;
        cursor: pointer;
    }
}